body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
}
/* Add the CSS for the scroll to top arrow */
    .scroll-to-top {
      position: fixed;
      bottom: 20px; /* Adjust the distance from the bottom as needed */
      right: 20px; /* Adjust the distance from the right as needed */
      width: 40px;
      height: 40px;
      background-color: #55a6a2;
      color: white;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }
	

    /* Add any styling you want for the navigation bar */
    .navbar {
      background-color: #439775;
      overflow: hidden;
      text-align: center; /* Center the navigation links */
    }

    /* Style the navigation bar links */
    .navbar a {
      display: inline-block; /* Display links in a row */
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: bold; /* Make the font bold */
      transition: background-color 0.3s; /* Add transition for hover effect */
    }

    /* Style the navigation bar links when hovered */
    .navbar a:hover {
      background-color: #55a6a2; /* Change background color on hover */
      color: white; /* Change text color on hover */
    }


    /* Media query for mobile devices */
    @media (max-width: 600px) {
      body {
        margin-left: 20px;
      }
    }
	
	

.page-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

#first-section {
  background-color: #1DCD8D;
}

.left-content {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box {
  margin-bottom: 20px;
}

.text-box h1 {
  font-weight: bold;
}

.right-content {
  width: 30%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more-button {
  display: inline-block;
  background-color: #1A2529;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-family: Nunito, sans-serif;
}




#second-section {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column; /* Add flex-direction: column to stack the elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content {
  text-align: center;
  padding-top: 50px; /* Add padding on top to center the text box */
}

.centered-content h2 {
  font-family: Nunito, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.animated-image {
  /* Add your styles for the animated image here */
}



